{% extends "base.html" %}
{% load static %}
{% block head %}

{% endblock %}
{% block myblock %}

  <div class="row justify-content-center">
            <div class="col-10 col-md-4">
                <div>
                    <p class="custom-title">Buy Coins<br><span class="text-info" style="font-size:25px;">(1Rupee = 1Coins)</span></p>
                    <p style="color: indigo;font-size: 19px;">Pay via Paytm Wallet Only</p>
                    <p class="text-danger" style="font-size: 19px;">Don't pay through Bank (You will lose your money).</p>
                    <p>Please pay at this number only <span><b style="font-size: 120%;color: red;">7786853588</b></span>, and enter wallet Transcation Id.<br>
                    <a href='/help/loadbalance'>Help</a></p>
                </div>
                
                <div class="form-group">
                    
                    <form id="loadBalance" method="post" >
                        {% csrf_token %}

                        {% if message %}
                        <div class="alert alert-danger">
                            {{message}}
                        </div>

                        {% endif %}


                       
                        <div class="input-group mb-3">
                            <input id="paymentNumber" type="number" class="form-control" name="paymentNumber" placeholder="Enter Receiver Paytm Number..." readonly value="7436890975">
                            <div class="input-group-append">
                                <button id="copyButton" class="btn btn-outline-secondary" type="button">Copy</button>
                            </div>
                        </div>
                        <div id="yourPaytmNumber" style="display:none;" class="input-group mb-3">
                            <input type="number" placeholder="Enter Your Paytm Number..." class="form-control">
                        </div>
                    
                        <div class="form-group mb-3">
                            <input type="number" id="amount" name="orderAmount" placeholder="Amount" required="" class="form-control" step="0.01">
                            <small id="emailHelp" class="form-text text-muted">Amount should be 50,100 or a multiple of 5.</small>
                        </div>
                        <button type="submit" id="btn_submit"  class="btn btn-success">Load</button>

                    </form>
                    {% if checkout is not None %}
                    <div id="postResponse" class="mssg bg-danger">
                        <span id="check" ></span>
                    </div>
                    {% endif %}


             
                   
                    {% if checkout %}

                    <form id="redirectForm" method="post" action="https://test.cashfree.com/billpay/checkout/post/submit">
                        <input type="hidden" name="appId" value="45107556fc3225a133718229d70154"/>
                        <input type="hidden" name="orderId" value="{{checkout.orderId}}"/>
                        <input type="hidden" name="orderAmount" value="{{checkout.orderAmount}}"/>
                        <input type="hidden" name="orderCurrency" value="INR"/>
                        <input type="hidden" name="customerName" value="{{checkout.customerName}}"/>
                        <input type="hidden" name="customerEmail" value="abhijeetg40@gmail.com"/>
                        <input type="hidden" name="customerPhone" value="{{checkout.customerPhone}}"/>
                        <input type="hidden" name="returnUrl" value="http://127.0.0.1:8000/payment_success">
                        <input type="hidden" name="signature" value="{{checkout.signature}}"/>
                        <div class="text-center">
                        <input type="submit" class="btn btn-info text-center" value="Pay {{checkout.orderAmount}}">
                        </div>

                        </form>
                    {% endif %}
                </div>
                
                
            </div>
        </div>

<!-- 
        <script>

            function checkAmount(){
                var amount = document.getElementById('amount').value;
                var alert = document.getElementById('alert')
                var message = document.getElementById('message')
                var btn_submit = document.getElementById('btn_submit')
                if(amount < 50){
                    message.innerHTML = "Amount must be greater than 50"
                    alert.style.display = 'block'
                    btn_submit.disabled = true

                }else if(amount % 5 != 0){
                    message.innerHTML = "Amount must be a multiple of 5 eg. 50,100,150.."
                    alert.style.display = 'block'
                    btn_submit.disabled = true
                }else{
                    alert.style.display = 'none'
                    btn_submit.disabled = false
                }
            }
        
        </script> -->
{% if status %}
    <script>
        alert("{{status}}");
        window.location="/"
    </script>



{% endif %}
{% endblock %}


