{% extends "base.html" %}
{% load static %}
{% block head %}

{% endblock %}
{% block myblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg-img py-5 text-center ">
            <h1> Transection History</h1>
        </div>
        <div class="col-md-12  text-center " >
            <ul id="challenge-list" class="list-group" >
            <li class="list-group-item history-list">
                <div>
                    <div>
                        <b>Referral Earning: </b>0 | <b>Penality: </b>50 | <b>Referred: </b>0
                    </div>
                    
                </div>
            </li>
            
                <li class="list-group-item history-list">
                    <div>
                        <small class="text-muted">Mon, 02 Nov 2020 22:09:51</small><br>
                        <div class="challengeText">
                            Sold by You
                        </div>
                        <div class="challengeHistory">
                            
                                <span class="text-danger"><b>-₹4302.00</b></span>
                            
                        </div>
                    </div>
                </li>
            
               
            
                <li class="list-group-item history-list">
                    <div>
                        <small class="text-muted">Mon, 02 Nov 2020 12:41:30</small><br>
                        <div class="challengeText">
                            Lost from Be Happy👍🏼
                        </div>
                        <div class="challengeHistory">
                            
                                <span class="text-danger"><b>-₹5000.00</b></span>
                            
                        </div>
                    </div>
                </li>
            
        </ul>



        </div>
         
    
    
</div>
{% endblock %}