{% extends "base.html" %}
{% load static %}
{% block head %}

{% endblock %}
{% block myblock %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 bg-img py-5 text-center ">
            <h1> Transaction History</h1>
        </div>
        <div class="col-md-12  text-center " >
            <ul id="challenge-list" class="list-group" >
            <li class="list-group-item history-list">
                <div>
                    <div>
                        <b>Referral Earning: </b>0 | <b>Penality: </b>50 | <b>Referred: </b>0
                    </div>
                    
                </div>
            </li>
            <hr>

            
            <div>
                <p>Your coin order history</p>
                {% for result in results %}
                <li class="list-group-item ">
                    <div>
                        <p>{{result.remark}}</p>
                        <small class="text-muted">{{result.date}}</small><br>
                        <div class="challengeText">
                       
                        </div>
                        {% if result.transaction %}
                        <div class="challengeHistory">
                                <span class="text-success"><b>+{{result.amount}}</b></span>
                        </div>
                        {% else %}

                        <div class="challengeHistory">
                            <span class="text-danger"><b>- {{result.amount}}</b></span>
                    </div>
                        {% endif %}
                    </div>
                </li>      
                {% endfor %} 
            </div>
        </ul>
        </div>
</div>
</div>

{% endblock %}