{% extends "base.html" %}
{% load static %}
{% block head %}

{% endblock %}
{% block myblock %}

<div class="container-fluid">
    <div class="row py-5 ">
        <div class="col-md-8 mx-auto my-5">
                <div class="alert alert-danger container" id="alert" style="display: none">
                    <p id="message" class="p-0 m-0"></p>
                 </div>
                <div class="container">
                    <div class="row">
                        {% csrf_token %}
                        <div class="col-md-8">
                            <input type="text" id="amount" onchange="checkAmount()" name="amount" class="form-control" placeholder="Amount">
                        </div>
                        <button></button>
                        {% if user.is_authenticated %}
                        <div class="col-md-2">
                            <button  id="btn_submit" disabled onclick="startGame()" class="btn btn-success btn-md">Set</button>
                        </div>
                        {% else %}
                        <div class="col-md-2">
                            <a href="{% url 'user_login' %}"  id="btn_submit"  class="btn btn-danger btn-md">Login to create game</a                   >
                        </div>
                        {% endif %}
                    </div>

                    <ul  class="list-group  mt-4" >
                
                        <li  class="list-group-item" id="user_game" style="display: none">
                           
                        </li>
                        
                    </ul>
                </div>
               
        </div>
    </div>
<div class="container">
   
    <ul  class="list-group" id="game_lists">
        
        
    </ul>

    <ul class="list-group" id="running_games">

    </ul>
    </div>


</div>
{% if status %}
<script>
    alert("{{status}}");
    window.location = "/"
</script>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>

 <!-- The core Firebase JS SDK is always required and must be listed first -->
 <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-app.js"></script>
 <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-database.js"></script>
 <!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#available-libraries -->
 <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-analytics.js"></script>


   

<script>
    

    function checkAgain() {
        if (confirm("Are you sure?")) {
            console.log('confirmed')
            form.submit();
        } else {
            console.log('not confirmed')
        }
    }

    function startGame(){
        
        var amount = document.getElementById('amount').value;
        var alert = document.getElementById('alert')
        var message = document.getElementById('message')
        var btn_submit = document.getElementById('btn_submit')

        var data = {
            'coins' : amount
        }

        axios.post('/create_game' , data)
        .then(res =>{
            if(res.data.status == false){
                message.innerHTML = res.data.message
                alert.style.display = 'block'
                setTimeout(()=>{
                    alert.style.display = 'none'
                },3000)
            }else{
               var room_id = res.data.room_id
               
               swal("Good job!", "Game Created", "success");
            
            }
        })

    }


    function checkAmount() {
        var amount = document.getElementById('amount').value;
        var alert = document.getElementById('alert')
        var message = document.getElementById('message')
        var btn_submit = document.getElementById('btn_submit')
        if (amount < 50) {
            message.innerHTML = "Amount must be greater than 50"
            alert.style.display = 'block'
            btn_submit.disabled = true

        } else if (amount % 50 != 0) {
            message.innerHTML = "Amount must be a multiple of 50 eg. 50,100,150.."
            alert.style.display = 'block'
            btn_submit.disabled = true
        } else {
            alert.style.display = 'none'
            btn_submit.disabled = false
        }
    }

    function setUserGame(obj){
        console.log(obj)
        if(Object.keys(obj).length){

            var user_game = document.getElementById('user_game')
            user_game.style.display = 'block'
            var html = `<div style="float: left;width: 65%;">
           You set a challenge for <span style="background-color: antiquewhite; padding: 2px;"><b>₹${obj.game_amount}</b></span>
            </div>

            <div style="float:right;"> 
            <a class="btn btn-danger btn-sm" href="/delete_game/${obj.game_id}">DEL </a>
            </div>


            <div style="float:right;"> 
            <a class="btn btn-success mr-3 btn-sm" href="/waiting_room/${obj.game_slug}">Start </a>
            </div>
`
           
            user_game.innerHTML = html

        }

    }


    function getGames(){
        {% if request.user.is_authenticated %}
       var url = '/api/games?user_id={{request.user.id}}'
       {% else %}
       var url = '/api/games'
       {% endif %}
       var game_lists = document.getElementById('game_lists')
        var running_games = document.getElementById('running_games')
        axios.get(url).then(res =>{

            setUserGame(res.data.game_by_user)
        //console.log(res.data)
        var running_game = res.data.running_games
        res = res.data.all_games
       var html = ''
        for(var i = 0; i < res.length; i++){
        var list_html =`<li  class="list-group-item" >
            <div style="float: left;width: 65%;">
            ${res[i].game_created_by}  <span style="background-color: antiquewhite; padding: 2px;"><b>₹${res[i].game_amount}</b></span>
            </div>
            <div style="float:right;"> 
            <button  id="${res[i].game_slug}" onclick="checkPlay('${res[i].game_slug}')" data-amount='${res[i].game_amount}' class="btn btn-primary btn-sm">Play </button>
            </div>
            </li>`
            html += list_html
        }

        setRunningGame(running_game)       
        game_lists.innerHTML = html
            
        })
    }


    function setRunningGame(running_game){
        var running_game_html =''
        console.log(running_game)
        for(var i=0;i<running_game.length;i++) {
            var list_html = `
            <li  class="list-group-item" >
            <div style="float: left;width: 65%;">
            ${running_game[i].between}  <span style="background-color: antiquewhite; padding: 2px;"><b>₹${running_game[i].game_amount}</b></span>
            </div>
            <div style="float:right;"> 
            <button  class="btn btn-info btn-sm">Game Running </button>
            </div>
            </li>`
            running_game_html += list_html
        }
        running_games.innerHTML = running_game_html
    }



    function checkPlay(id){
        var current_coint = '{{coins}}' 
        var button = document.getElementById(id)

        if(current_coint < button.dataset.amount){
            button.className = 'btn btn-danger btn-sm'
            button.textContent = 'Not enough amount'
        }else{
            button.className = 'btn btn-success btn-sm'
            button.textContent = 'Game Starting'
            axios.get(`/api/mark_game_waiting/${id}`)
            .then(res =>{
                if(res.data.status == true){
                    window.location.href  = `/waiting_room/${id}`
                }
            })

        }
        
        console.log(button.dataset.amount)

    }

   
    setInterval(()=>{
        getGames()
    }, 3000)

    getGames()



</script>

{% endblock %}