{% extends "admin_panel/admin.html" %}

{% block content %}


<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
  
  </nav>
  <!-- Header -->
  <!-- Header -->
  <div class="header bg-white pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
                <li class="breadcrumb-item active" aria-current="page">Default</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div>
        </div>

        <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">S.no</th>
                  <th scope="col" class="sort" data-sort="budget">Room Code</th>
                  <th scope="col" class="sort" data-sort="status">Disputed between</th>
                  <th scope="col" class="sort" data-sort="status">Betting amount</th>

                  <th scope="col">Action</th>
                 
                </tr>
              </thead>
              <tbody class="list">
                  {% for games in disputed_games %}
                <tr>
                  <th scope="row">
                    {{forloop.counter}}
                  </th>
                  <td class="budget">
                   {{games.game.room_code}}
                  </td>
                  <td>
                   {{games.game.user_one.username}} vs  {{games.game.user_two.username}}
                  </td>
                  <td>
                  
                    {{games.game.betting_amount}}
                  </td>
                  <td>
                    
                <a href="{% url 'show_disputed' games.game.id %}" class="btn btn-default btn-sm">View</a>

                  </td>
                  
                </tr>

                {% endfor %}
               
           
              
              </tbody>
            </table>
          </div>


      </div>
    </div>
  </div>
 
</div>

{% endblock %}
